<link phx-track-static rel="stylesheet" href={~p"/assets/home.css"} />
<div id="main">
  <div id="left"></div>
  <div id="content">
    <div style="width: 1000px; margin: auto">
      <img src={~p"/images/tetris_wiki_logo.png"} width="1000" />
    </div>
  </div>
  <div id="right"></div>
  <!-- <%= @locale %> -->
</div>
